:root {
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(40, 40, 40);
  color-scheme: light dark;
  color: rgb(230, 230, 230);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  cursor: url('/src/cursor/arrow.cur'), auto;
  overscroll-behavior-y: contain;
  /* overflow: hidden; */
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(20, 20, 20); /* Set this to the desired overscroll background color */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* margin: 2%; */
  display: block; /* Changed from flex to block */
  place-items: unset; /* Remove centering */
  min-width: 320px;
  min-height: 100%; /* Changed from 100vh to 100% for proper scrolling */
  max-width: 100vw;
  margin: 0;
  padding: 0;

}

.container {
  display: flex; /* Enable flexbox */
  flex-direction: row; /* Items are laid out in a row */
  align-items: start; /* Align items to the start of the container */
  justify-content: space-between; /* Distribute extra space between items */
  z-index: 50000;
  margin: 5%;
  overflow: hidden;
  transition: opacity 2s linear, visibility 0s linear 2s; /* Delay visibility transition */
  opacity: 1; /* Fully visible initially */
  visibility: visible; /* Fully visible initially */
}


.container:nth-child(even) {
  flex-direction: row-reverse;
}

/* layout grid stuff */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.grid-item {
  grid-column: span 2; /* Span 2 columns */
}

/* Specific item styling */
.grid-item.large {
  grid-row: span 2; /* Span 2 rows */
}

.relative-container {
  position: relative;
}

.overlap-item {
  position: absolute;
  top: 10px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
  z-index: 1; /* Higher z-index for upper layer */
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-item {
  flex: 1; /* Equal growth */
}

.flex-item.large {
  flex: 2; /* Takes twice the space */
}

.full-width {
  width: 100%;
  margin: 0;
}

.max-width {
  max-width: 1200px; /* or any other maximum width */
  margin: 0 auto;
}

/* end layout stuff */

.navbar, .footer {
  /* background-color: #000000; */
  text-align: left;
  /* background-color: rgba(40, 40, 40, 0.85);
  border-color: rgb(230, 230, 230);
  border-style:ridge;
  border-radius: 0.02px; */
  width: 100%;

}

#intro {
  background-color: rgb(20, 20, 20);
  width: 100vw;
  height: 100vh; /* Adjust height if needed */
  padding-top: 200vh; /* Increase padding to cover overscroll area */
  margin-top: -200vh; /* Pull the element up */
  z-index: 2; /* Make sure this is higher than the z-index of #app */
  position: relative; /* or fixed, depending on your layout */
  padding-bottom: 5%;
}



.hidden {
  opacity: 0; /* Fully transparent */
  visibility: hidden;
  transition: opacity 2s linear, visibility 0s linear 0s; /* No delay when hiding */
}

#text-content{

}

#text-content .column {
  height: 100%;
  flex-grow: 1; /* Allow columns to grow to fill the container */
  margin-right: 2%; /* Spacing between columns, adjust as needed */
  box-sizing: border-box; /* Include padding and borders in width */
}

#text-content .column:last-child {
  margin-right: 0; /* Remove margin for the last column */
}


#text-content .text {
  flex-basis: 33.3%; /* 1/3 of the container */
  max-width: 33.3%; /* Ensure it does not grow beyond 1/3 */
  padding-right: 2%; /* Optional spacing between text and image */
  box-sizing: border-box; /* Include padding in the width calculation */
  cursor: url('/src/cursor/iBeam.cur'), auto;
  /* cursor: text; */
}

#text-content .image {
  flex-basis: 50%; /* 2/3 of the container */
  max-width: 50%; /* Ensure it does not grow beyond 2/3 */
  max-height: 80vh;
  box-sizing: border-box; /* Include any border or padding in the width calculation */
}

.p5{
  /* border: #818181;
  border-style:ridge; */
  /* border-width: 2px; */
  /* background-color: #c4c4c44f */
  min-height: 50vh;
  max-height: 100vh;
  min-width: 100%;
  padding: 0;
  margin: 0;
}
  

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



#app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  cursor: url('/src/cursor/whiteCrosshair.cur'), auto;
  transition: filter 0.25s linear; /* Transition applies to the filter property */
  /* z-index: 1; Lower than #intro */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#progress-container {
  width: 33%;
  margin: 0 auto; /* Center the progress bar */
  background-color: #ffffff;
  position: relative; /* Changed from absolute to relative */
  overflow: visible;
}

#progress-bar {
  font-size: xx-large;
  position: absolute;
  top:50%;
  left:50%;
  display: block;
  /* height: 200px; */
  width: 0;
  line-height: 200px;
  text-align: center;
  color: rgb(255, 255, 255);
  transition: width 0.25s ease; /* Add a transition for smooth width change */
}

/* Slider container */
#resolution-controls {
  width: 200px; /* Adjust as necessary */
}

/* The slider itself */
#resolution-slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  height: 8px; /* Slider height */
  background: #ddd; /* Slider background */
  outline: none; 
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Slider thumb */
#resolution-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px; /* Thumb width */
  height: 20px; /* Thumb height */
  background: #444; /* Thumb color */
  cursor: url('/src/cursor/point.cur'), auto;
}

#resolution-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #444;
  cursor: url('/src/cursor/point.cur'), auto;
}


#three-container {
  width: 100%; /* Full width of its parent container */
  height: 100%;
  position: absolute;
  overflow: hidden; /* Add this to prevent any overflow */
}


#three-container canvas {
  position: relative;
  width: 100% !important;
  height: 100% !important;
  image-rendering: pixelated !important;

}


.background {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Puts the background behind your content */
  opacity: 50%;
  filter: grayscale(100%);
  transition: filter 0.5s linear; /* Transition for the filter effect over 2 seconds */
  /* margin: 20%; */
}


#fullscreenButton {
  position: absolute;
  bottom: 0%;
  right: 1%; 
  z-index: 1000000000;
}


#info-button {
  position: absolute;
  bottom: 5%;
  right: 1%; 
  display: block;
}

/* Hide the info-button when the background class is active on the parent */
#app.background #info-button {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

/* Show the info-button when the background class is not active */
#app:not(.background) #info-button {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}


#info-container {
  opacity: 1; /* Start fully visible */
  visibility: visible;
  transition: opacity 0.15s ease; /* Smooth transition for fade effect */
  position: absolute;
  bottom: 1%;
  left: 5%; /* Adjust this to position the box to the right of the pan controls */
  z-index: 10;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  /* padding: 10px; */
  border-radius: 5px;
  font-size: medium; /* Adjust the font size as needed */
  max-width: 250px; /* Set a max-width for the container */
  cursor: url('/src/cursor/point.cur'), auto;
}

#info-container ul {
  padding-left: 20px;
  opacity: 1; /* Start fully visible */
  visibility: visible;
}

/* #camera-lock{

  
} */

#three-container,
#pan-controls,
#info-button {
  pointer-events: none;
  opacity: 0.5; /* Make it look disabled */
}

#start-container {
  position: relative;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  z-index: 100; /* Make sure it's above other elements */
}

button#start-button {
  /* padding: 10px 20px; */
  font-size: 1.5em;
  background-color: #000000;
  color: white;
  border: none;
  cursor: url('/src/cursor/point.cur'), auto;
}


.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}


.small-text {
  font-size: 14; /* Smaller text for additional info */
  opacity: 0.8; /* Slightly faded text */
}

button {

  background-color: rgba(0, 0, 0, 0.666);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  color: cyan;
  padding: 5px;
  margin: 1%;
  font-size: x-large;
  z-index: 5000001; 
  cursor: url('/src/cursor/point.cur'), auto;
  filter: none;
  border-style:groove;
  border-width: 2px;
  border-color: cyan;


  /* border: 1px solid transparent; */
  padding: 0.2em 0.4em;
  font-size: 1.4em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: url('/src/cursor/point.cur'), auto;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #000000;
}
button:focus,
button:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #ececec;
    background-color: #1f1f1f;
  }
  a:hover {
    color: #000000;
  }
  button {
    background-color: #000000;
  }
}

@media only screen and (max-width: 600px) {
  .container {
      flex-direction: column; /* Stack columns vertically on small screens */
  }
  #info-container {
    font-size: 12px; /* Smaller font size for mobile */
  }
}

@keyframes spin {
  0% { content: '←'; }
  12.5% { content: '↖'; }
  25% { content: '↑'; }
  37.5% { content: '↗'; }
  50% { content: '→'; }
  62.5% { content: '↘'; }
  75% { content: '↓'; }
  87.5% { content: '↙'; }
  100% { content: '←'; }
}

#progress-bar::after {
  display: inline-block;
  animation: spin 700ms steps(8, end) infinite;
  content: '←'; /* Initial character */
  transform: translateZ(0);
}


/* custom legend checkbox */

.hidden-checkbox {
  display: none;
}

.custom-checkbox-container {
  display: flex;
  align-items: center;
}

.custom-checkbox-label {
  display: flex;
  align-items: center;
  cursor: url('/src/cursor/point.cur'), auto;
  margin-right: 5px;
}

.custom-checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid white;
  margin-right: 5px;
   /* // Space between the checkbox and the label text */
}

.hidden-checkbox:checked + .custom-checkbox-label .custom-checkbox::before {
  content: '𐄂';
  display: block;
  color: white;
  text-align: center;
  line-height: 12.5px; /* Align the 'X' vertically */
  font-family: serif;
}

/* Optional: Add some hover effect */
.custom-checkbox:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Light white background on hover */
}

/* cursor styling */

/* CSS for different cursor transparencies */
.cursor-transparent {
  cursor: none; /* Fully transparent cursor */
}

.cursor-default {
  cursor: url('/src/cursor/whiteCrosshair.cur'), auto; /* 15% transparent cursor */
  opacity: 85%;
}

#terrainContainer1{
  cursor: url('/src/cursor/point.cur'), auto;
}


#isoCubeContainer1{
  cursor: url('/src/cursor/point.cur'), auto;
  /* filter: grayscale(1); */
}

#wavetableContainer1{
  width: 100%;
  height: 100%;
}

.pointer{

  cursor: pointer; /* Or use a custom cursor file */

}

.cursor-trail {
  position: absolute;
  width: 22px; /* Adjust size to match your cursor */
  height: 38px; /* Adjust size to match your cursor */
  background-size: cover;
  pointer-events: none;
  animation: fadeOut 1s forwards;
}

/* Style for default cursor trail */
.default-cursor-trail {
  /* ... common styles ... */
  background-image: url('/src/cursor/arrow.png');
}

/* Style for pointer cursor trail */
.pointer-cursor-trail {
  /* ... common styles ... */
  background-image: url('/src/cursor/point.png');
}

/* Style for text cursor trail */
.text-cursor-trail {
  /* ... common styles ... */
  background-image: url('/src/cursor/ibeam.png');
}


/* Style for crosshair cursor trail */
.crosshair-cursor-trail {
  /* ... common styles ... */
  background-image: url('/src/cursor/whiteCrosshair.png');
}

@keyframes fadeOut {
  from{opacity: 1
  }
  to {
      opacity: 0.8;
      transform: scale(1);
  }
}

