:root {
  line-height: 1.5;
  font-weight: 400;
  background-color: #000000;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* margin: 2%; */
  display: block; /* Changed from flex to block */
  place-items: unset; /* Remove centering */
  min-width: 320px;
  min-height: 100%; /* Changed from 100vh to 100% for proper scrolling */
}

#text-content {
  display: flex; /* Enable flexbox */
  flex-direction: row; /* Items are laid out in a row */
  align-items: start; /* Align items to the start of the container */
  justify-content: space-between; /* Distribute extra space between items */
  z-index: 50000;
  margin: 5%;
  overflow: hidden;
}

#text-content .column {
  height: 100%;
}

#text-content .text {
  flex-basis: 33.3%; /* 1/3 of the container */
  max-width: 33.3%; /* Ensure it does not grow beyond 1/3 */
  padding-right: 2%; /* Optional spacing between text and image */
  box-sizing: border-box; /* Include padding in the width calculation */
}

#text-content .image {
  flex-basis: 66.6%; /* 2/3 of the container */
  max-width: 66.6%; /* Ensure it does not grow beyond 2/3 */
  max-height: 50vh;
  box-sizing: border-box; /* Include any border or padding in the width calculation */
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#p5Container{


}


#app {
  position: fixed; /* Keep the app container fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  cursor: url('/src/cursor/whiteCrosshair.cur'), auto;
  transition: filter 0.25s linear; /* Transition applies to the filter property */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#progress-container {
  width: 33%;
  margin: 0 auto; /* Center the progress bar */
  background-color: #ffffff;
  position: relative; /* Changed from absolute to relative */
  overflow: visible;
}

#progress-bar {
  font-size: xx-large;
  position: absolute;
  top:50%;
  left:50%;
  display: block;
  /* height: 200px; */
  width: 0;
  line-height: 200px;
  text-align: center;
  color: rgb(255, 255, 255);
  transition: width 0.25s ease; /* Add a transition for smooth width change */
}

/* Slider container */
#resolution-controls {
  width: 200px; /* Adjust as necessary */
}

/* The slider itself */
#resolution-slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  height: 8px; /* Slider height */
  background: #ddd; /* Slider background */
  outline: none; 
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Slider thumb */
#resolution-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px; /* Thumb width */
  height: 20px; /* Thumb height */
  background: #444; /* Thumb color */
  cursor: pointer;
}

#resolution-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #444;
  cursor: pointer;
}


#three-container {
  width: 100%; /* Full width of its parent container */
  height: 100%;
  position: absolute;
  overflow: hidden; /* Add this to prevent any overflow */
}


#three-container canvas {
  width: 100% !important;
  height: 100% !important;
  image-rendering: pixelated !important;
}

.background {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Puts the background behind your content */
  opacity: 50%;
  filter: grayscale(100%);
  transition: filter 0.5s linear; /* Transition for the filter effect over 2 seconds */
  /* margin: 20%; */
}


#scrollUpButton {
  position: fixed;
  bottom: 1%;
  right: 1%; 
  background-color: rgb(0, 0, 0); 
  color: cyan;
  padding: 10px;
  margin: 20px;
  /* border-radius: 50%; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  font-size: large;
  z-index: 10001; 
  cursor: pointer;
}


#info-button {
  position: absolute;
  font-size: large;
  bottom: 5%;
  right: 1%; 
  z-index: 10001;
  background-color: rgb(0, 0, 0); 
  color: cyan;
  border: 2px;
  /* border-radius: 50%; */
  border-color: cyan;
  padding: 10px;
  margin: 20px;
  cursor: pointer;
  display: block;
  background-color: rgba(0, 0, 0, 0.666);
}

#info-container {
  opacity: 1; /* Start fully visible */
  visibility: visible;
  transition: opacity 0.15s ease; /* Smooth transition for fade effect */
  position: absolute;
  bottom: 1%;
  left: 5%; /* Adjust this to position the box to the right of the pan controls */
  z-index: 10;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  /* padding: 10px; */
  border-radius: 5px;
  font-size: medium; /* Adjust the font size as needed */
  max-width: 250px; /* Set a max-width for the container */
  cursor: pointer;
}

#info-container ul {
  padding-left: 20px;
  opacity: 1; /* Start fully visible */
  visibility: visible;
}

/* #camera-lock{

  
} */

#three-container,
#pan-controls,
#info-button {
  pointer-events: none;
  opacity: 0.5; /* Make it look disabled */
}

#start-container {
  position: relative;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  z-index: 100; /* Make sure it's above other elements */
}

button#start-button {
  /* padding: 10px 20px; */
  font-size: 1.5em;
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
}



.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}


.small-text {
  font-size: 12px; /* Smaller text for additional info */
  opacity: 0.8; /* Slightly faded text */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media only screen and (max-width: 600px) {

  #info-container {
    font-size: 12px; /* Smaller font size for mobile */

    
  }
}

@keyframes spin {
  0% { content: '←'; }
  12.5% { content: '↖'; }
  25% { content: '↑'; }
  37.5% { content: '↗'; }
  50% { content: '→'; }
  62.5% { content: '↘'; }
  75% { content: '↓'; }
  87.5% { content: '↙'; }
  100% { content: '←'; }
}

#progress-bar::after {
  display: inline-block;
  animation: spin 700ms steps(8, end) infinite;
  content: '←'; /* Initial character */
  transform: translateZ(0);
}


/* custom legend checkbox */

.hidden-checkbox {
  display: none;
}

.custom-checkbox-container {
  display: flex;
  align-items: center;
}

.custom-checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 5px;
}

.custom-checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid white;
  margin-right: 5px;
   /* // Space between the checkbox and the label text */
}

.hidden-checkbox:checked + .custom-checkbox-label .custom-checkbox::before {
  content: '𐄂';
  display: block;
  color: white;
  text-align: center;
  line-height: 12.5px; /* Align the 'X' vertically */
  font-family: serif;
}

/* Optional: Add some hover effect */
.custom-checkbox:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Light white background on hover */
}

/* cursor styling */

/* CSS for different cursor transparencies */
.cursor-transparent {
  cursor: none; /* Fully transparent cursor */
}

.cursor-default {
  cursor: url('/src/cursor/whiteCrosshair.cur'), auto; /* 15% transparent cursor */
  opacity: 85%;
}

